
<div class="container mt-4 col-md-8">
  <h1 class="text-dark">Dashboard</h1>
  <a href="/dashboard/new-post" class="btn btn-success mb-4 col-md-6">Add New Post</a>
  {{#each posts}}
    <div class="card mb-4 dashboard-card-light">
        <div class="card-body">
            <h2 class="card-title"><a href="/post/{{id}}">{{title}}</a></h2>
            <p class="card-text">{{content}}</p>
            <a href="/dashboard/edit/{{id}}" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger delete-post-button" data-post-id="{{id}}">Delete</button>
        </div>
    </div>
  {{/each}}
</div>

<script src="/js/deletePost.js"></script>